*{
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}
header{
    background-color: aqua; 
    padding: 30px 0 20px 0;
    border-radius: 25px;
    box-shadow: 0 0 0px 1px ;
    margin-top: 25px;
    
}
.imagen{
    margin: 0 0 0 15%;
    height:100px ;
    width: 240px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icone{
    margin-left: 88%;
    margin-top: -70px;
    font-size: 2.5rem;
    
}
.seta{
    margin-left: 91%;
    margin-top: -81px;
    font-size: 2rem;
}